TELEGRAM_BOT_TOKEN=8274189043:AAE1FmEh0WAAG392kwVGPfCO_RgWLm8MTw0
BOT_CHANNEL_URL=https://t.me/TONPredictionArena
BOT_SUPPORT_URL=https://t.me/TONPredictionArena?direct
BOT_APP_URL=https://t.me/TONPredictionArenaBot/app
ADMIN_IDS=7105949654
DATABASE_URL=file:../server/prisma/dev.db
